# Banco de dados (Supabase)
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-com-openssl-rand-base64-32"

# Supabase Storage (anexos)
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[ANON_KEY]"
SUPABASE_SERVICE_ROLE_KEY="[SERVICE_ROLE_KEY]"

# CSC API
CSC_API_URL="https://csc.pucminas.br/API/api/chamado/AbrirChamado"
CSC_TOKEN=""
CSC_CATALOGO_ID=""
CSC_FLEX_FIELD_103=

# Microsoft Teams
TEAMS_WEBHOOK_URL="https://default7ee437e2ba424c81b29428591e308d.fc.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/c838cf14db4f464792492eeed4c79b55/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mbq3b__gpgl55D-RF3j1UKNYv0w-B7qSSGmj-_FEcYg"

# Google Calendar
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALENDAR_ID=""
